@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    ViewData["BodyClass"] = "error-page";
}

<div class="container">
    <h1 class="display-4 error-title">Error</h1>
    <p>
        <a asp-area="" asp-page="/Index" class="btn btn-primary error-button">Go to Home Page</a>
    </p>
</div>

<footer class="border-top footer text-muted index-footer">
    <div class="container">
        &copy; 2024 - LemmikkitietokantaSovellus - <a asp-area="" asp-page="/Privacy">Privacy</a>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</footer>