@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["BodyClass"] = "privacy-page";
}
<h1 class="display-4">Yksityisyys</h1>

<p>Uskalsit sentään tulla tänne nuuskimaan!</p>

<footer class="border-top footer text-muted index-footer">
    <div class="container">
        &copy; 2024 - LemmikkitietokantaSovellus - <a asp-area="" asp-page="/Privacy">Privacy</a>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</footer>